# # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#                Common Output Directories                #
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
*build*/
out/

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#                    Common Output Files                  #
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
*.out
*.o
*.dll
*.exe
*.log

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#                        IDE Files                        #
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
CMakeSettings.json
.idea/
.vs/

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#                       Third Party                       #
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
ThirdParty/glfw
